{% extends 'base.html' %}
{% block title %} Bulletin board {% endblock %}
{% block page_name %} Bulletin board {% endblock %}
{% block content %}
  {% for ad in ads %}
    <div class="ad" >
      <p><a href="{% url 'ad_detail' ad.id %}"><img src="{{ ad.head_image.url }}"></a></p>
      <p>{{ ad.title }}</p>
      {% if ad.description|length < 42 %}
        <p class="description">{{ ad.description }}</p>
      {% else %}
        <p class="description">{{ ad.description|stringformat:".42s" }}...</p>
      {% endif %}
      <p class="user">Added by: {{ ad.owner.username }}</p>
    </div>
  {% endfor %}
{% endblock %}